<ion-header>
  <ion-toolbar>
    <ion-title>
      Card
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card-header>
   Interview Card
 </ion-card-header>
 <ion-card-content>

  <ion-card-title>Title <br></ion-card-title>
<ion-card-title>Story<br></ion-card-title>
<ion-card-title> Description<br></ion-card-title>
<ion-card-title> Country<br></ion-card-title>
<ion-card-title>Current Amount<br></ion-card-title>
<ion-card-title> Target Amount<br></ion-card-title>



 </ion-card-content>
</ion-content>
